{% extends "base.html.twig" %}


{% block body %}

    {{parent()}}

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#aperitifs">Apéritifs</a></li>
                <li class="tab col s3"><a href="#starters">Entrées</a></li>
                <li class="tab col s3"><a href="#meals">Viandes & Poissons</a></li>
                <li class="tab col s3"><a href="#garnishes">Légumes</a></li>
                <li class="tab col s3"><a href="#desserts">Dessert</a></li>
                <li class="tab col s3"><a href="#drinks">Boissons</a></li>
            </ul>
        </div>


        <div id="aperitifs" class="row">
            <a href="addMeal.php?cat=UN APERITIF" class="waves-effect waves-light center-align btn-flat col s4 offset-s4">ENREGISTRER UN APERITIF</a>
            
            <div class="col s8 offset-s2" >
                {% for meal in meals %}
                    {% if meal['category']=='aperitif' %}
                        <h3 class="center" >{{meal['name']}}</h3>
                    {% endif %}
                {% endfor %}
            </div>
            
        </div>

        <div id="starters" class="col s12">
            <a href="addMeal.php?cat=UNE ENTREE" class="waves-effect waves-light center-align btn-flat col s4 offset-s4">ENREGISTRER UNE ENTREE</a>

            <div class="col s8 offset-s2" >
                {% for meal in meals %}
                    {% if meal['category']=='starter' %}
                        <h3 class="center" >{{meal['name']}}</h3>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
        <div id="meals" class="col s12">
            <a href="addMeal.php?cat=UN PLAT" class="waves-effect waves-light center-align btn-flat col s4 offset-s4">ENREGISTRER UNE VIANDE OU POISSON</a>

            <div class="col s8 offset-s2" >
                {% for meal in meals %}
                    {% if meal['category']=='meal' %}
                        <h3 class="center" >{{meal['name']}}</h3>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
        <div id="garnishes" class="col s12">
            <a href="addMeal.php?cat=UN ACCOMPAGNEMENT" class="waves-effect waves-light center-align btn-flat col s4 offset-s4">ENREGISTRER UN LEGUME</a>

            <div class="col s8 offset-s2" >
                {% for meal in meals %}
                    {% if meal['category']=='garnish' %}
                        <h3 class="center" >{{meal['name']}}</h3>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
        <div id="desserts" class="col s12">
            <a href="addMeal.php?cat=UN DESSERT" class="waves-effect waves-light center-align btn-flat col s4 offset-s4">ENREGISTRER UN DESSERT</a>

            <div class="col s8 offset-s2" >
                {% for meal in meals %}
                    {% if meal['category']=='dessert' %}
                        <h3 class="center" >{{meal['name']}}</h3>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
        <div id="drinks" class="col s12">
            <a href="addMeal.php?cat=UNE BOISSON" class="waves-effect waves-light center-align btn-flat col s4 offset-s4">ENREGISTRER UNE BOISSON</a>

            <div class="col s8 offset-s2" >
                {% for meal in meals %}
                    {% if meal['category']=='drink' %}
                        <h3 class="center" >{{meal['name']}}</h3>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>


{% endblock %}
